{% extends 'layout.twig' %}

{% block content %}
    {% for project in projects %}
        <li><a href="{{ path_for('project', {'project':project}) }}">{{ project }}</a></li>
    {% endfor %}
{% endblock %}
